.professionalColor {
    color: #0000bf;
}

.mainContent {
    padding: 50px 30px !important;
}

.imgProfile {
    width: 45px;
    border-radius: 30px;
}

.profileName {
    padding: .5rem 1rem;
}

.bottom-card-title {
    position: absolute;
    bottom: 0px;
}

.img-fl {
    float: left;
    margin-right: 15px;
}

.ml-45 {
    margin-left: 45px;
}